import math
a = int(input("LENGTH 🔢 OF THE 1ST SIDE "))
b = int(input("LENGTH 🔢 OF THE 2ND SIDE "))
c = int(input("LENGTH 🔢 OF THE 3RD SIDE "))
s = (a + b + c) / 2
area = math.sqrt(s*(s-a)*(s-b)*(s-c))
print("Area of the triangle will be👉 ",area)
